// cleanup = true

params {
    out_dir = './output'
    report_dir = './reports'
}

profiles {
  local {
    includeConfig 'conf/local.config'
  }

  lsf {
    includeConfig 'conf/lsf.config'
    includeConfig 'conf/modules.config'
  }

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

process {
    errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
    maxRetries = 5

    withLabel: 'large_mem' {
        memory = { 80.GB * task.attempt }
    }

    withLabel: 'medium_mem' {
        memory = { 20.GB * task.attempt }
    }

    memory = { 500.MB * task.attempt } //default memory for all processes
}

manifest {
  name = "PaSTa"
  description = "Pan-spatial transcriptomics analysis pipeline"
  author = "Tong LI"
  version = "0.1.1"
}