cleanup = true

params {
    out_dir = './output'
    report_dir = './reports'
}

profiles {
  local {
    process {
      executor = 'local'
      // Capture exit codes from upstream processes when piping
      shell = ['/bin/bash', '-euo', 'pipefail']
    }
  }

  lsf {
    includeConfig 'conf/sanger.config'
    process {
      queue = 'imaging' //default queue for all processes
    }
  }

  docker {
    docker.enabled = true
    singularity.enabled = false
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process {
      containerOptions = "--containall --cleanenv --nv"
    }
  }
}

process {
    errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
    maxRetries = 5
    memory = { 500.MB * task.attempt } //default memory for all processes

    withName: BIOINFOTONGLI_MICROALIGNER {
        //publishDir = ["output/registered_stacks/", "mode": "copy"]
        cpus = 30 // Number of CPUs
        memory = { 80.GB * task.attempt } // Memory
      }

      withName: TO_SPATIALDATA {
        ext.args = "--feature_col 'Name'  --expansion_in_pixels 80 --save_label_img True" // Additional arguments
      }

    withLabel: 'large_mem' {
        memory = { 80.GB * task.attempt }
    }

    withLabel: 'medium_mem' {
        memory = { 20.GB * task.attempt }
    }
}

nextflow.enable.moduleBinaries = true

manifest {
  name = "PaSTa"
  description = "Pan-spatial transcriptomics analysis pipeline"
  author = "Tong LI"
  version = "0.1.1"
}