process {
        withName: CELLPOSE {
                memory = {20.Gb * task.attempt}
                time = 1.h
                //storeDir = "./output/naive_cellpose_segmentation/"
        }

        withName: IMAGING_POSTCODE {
                memory = {20.Gb * task.attempt}
                time = 4.h
                ext.args = "--codebook_target_col Gene --codebook_code_col code --coding_col_prefix 'Readout_* ' --min_prob 0.9"

                //storeDir = "./output/PoSTcode_decoding_output"
        }

        withName: POSTCODE_EXTRA {
                ext.args = "--codebook_target_col Gene --codebook_code_col code --coding_col_prefix 'Readout_* --keep_noises 0'"
        }

        withName: TO_SPATIALDATA {
                memory = {20.Gb * task.attempt}
                time = 4.h
                ext.args = "--feature_col 'Name' --expansion_in_pixels 30 --save_label_img True --raw_image_channels_to_save [0]"
        }

        withName: MERGEOUTLINES {
                time = 4.h
                //storeDir = "./output/merged_cellpose_segmentation/"
        }

        withName: IMAGING_MICROALIGNER {
                memory = {20.Gb * task.attempt}
                time = 8.h
                //storeDir = "./output/registered_stacks"
        }

        withName: IMAGING_TILEDSPOTIFLOW {
                memory = {20.Gb * task.attempt}
                time = 1.h
                //storeDir = "./output/spotiflow_peaks/"
        }

        withName: IMAGING_MERGEPEAKS {
                memory = {20.Gb * task.attempt}
                time = 4.h
                //storeDir = "./output/spotiflow_peaks/"
        }

        withName: IMAGING_CONCATENATEWKTS {
                memory = {20.Gb * task.attempt}
                time = 4.h
                //storeDir = "./output/spotiflow_peaks/"
        }

        withName: EXTRACT_PEAK_PROFILE {
                memory = {20.Gb * task.attempt}
                time = 4.h
                //storeDir = "./output/peak_profiles/"
        }

        withName: EXTRA_EXTRACT_PEAK_PROFILE {
                memory = {20.Gb * task.attempt}
                time = 4.h
                //storeDir = "./output/peak_profiles/"
        }

        withName: 'RUN_QC_DOWNSTREAM' {
                memory = {20.Gb * task.attempt}
                time = 4.h
                //storeDir = "./output/qc_downstream/"
        }
}
