process {
	withName: CELLPOSE {
		// maxForks = 3
		clusterOptions = '-gpu "mode=shared:j_exclusive=no:num=1:gmem=2048"'
		// ext.args = "--flow_threshold 1.0 --cellprob_threshold -1.0"
	}

	withName: BIOINFOTONGLI_EXTRACTPEAKPROFILE {
		ext.args = "--y_col 'y_int' --x_col 'x_int'"
	}
	
	withName: BIOINFOTONGLI_MICROALIGNER {
		storeDir = "output/registered_stacks/"
		cpus=30
	}

	withName: TO_SPATIALDATA {
		ext.args = "--y_col 'y_int' --x_col 'x_int' --feature_col 'Name'"
	}
}