process {
	withName: IMAGING_CELLPOSE {
		clusterOptions = '-gpu "mode=shared:j_exclusive=no:num=1:gmem=3072"'
	}

	withName: IMAGING_MICROALIGNER {
		publishDir = "output/registered_stacks/"
		memory = { 50.Gb * task.attempt }
		queue = "imaging"
	}

	withName: TO_SPATIALDATA {
		ext.args = "--feature_col 'Name' --expansion_in_pixels 80 --save_label_img True"
		memory = { 40.Gb * task.attempt }
		queue = "imaging"
	}

	withName: IMAGING_TILEDSPOTIFLOW {
		memory = { 20.Gb * task.attempt }
		clusterOptions = '-gpu "mode=shared:j_exclusive=no:num=1:gmem=2048"'
	}
}
