executor {
    queueSize = 10
}

params {
    custom_config_version       = 'master'
    custom_config_base          = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    cellpose_model_dir          = "/software/cellgen/cellgeni/pretrained_models/cellpose/"
    NUMBA_CACHE_DIR             = "./numba_cache"
    spotiflow_model_dir         = "/software/cellgen/cellgeni/pretrained_models/spotiflow/models/"
}

try {
    includeConfig "${params.custom_config_base}/conf/sanger.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/conf/sanger.config")
}

process.queue = 'imaging' //default queue for all processes