docker.enabled = false
singularity {
  enabled = true
  autoMounts = true
  runOption = "--containall"
  // cacheDir = '/lustre/scratch126/cellgen/team283/NXF_WORK/singularity/cache'
}

process {
  errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
  maxRetries = 5
}

executor {
    name = 'lsf'
    queueSize = 10
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}