/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: CELLPOSE {
            maxForks = 5 // Number of parallel jobs
            // ext.args = "--flow_threshold 1.0 --cellprob_threshold -1.0"
    }

    withName: BIOINFOTONGLI_MICROALIGNER {
            //storeDir = "output/registered_stacks/"
            cpus = 30 // Number of CPUs
            memory = { 80.GB * task.attempt } // Memory
    }

    withName: TO_SPATIALDATA {
            ext.args = "--feature_col 'Name'  --expansion_in_pixels 80 --save_label_img True" // Additional arguments
    }

    withName: Spotiflow_call_peaks {
            maxForks = 1 // Number of parallel jobs, don't allow more than 1 since might have dask port conflict
    }

    withName: Spotiflow_merge_peaks {
            memory = { 20.GB * task.attempt }
    }

    // withLabel: gpu {
    //    clusterOptions = { "-M "+task.memory.toMega()+" -R 'select[mem>="+task.memory.toMega()+"] rusage[mem="+task.memory.toMega()+"] span[ptile=1]' -gpu 'num=1:j_exclusive=yes'" }
    //    queue = { task.time > 12.h ? 'gpu-huge' : task.time > 48.h ? 'gpu-basement' : 'gpu-normal' }
    //    containerOptions = {
    //        workflow.containerEngine == "singularity" ? '--containall --cleanenv --nv':
    //        ( workflow.containerEngine == "docker" ? '--gpus all': null )
    //    }
    // }
}