process {
  errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
  maxRetries = 5
  memory = { 500.MB * task.attempt }
  //default memory for all processes

  withName: BIOINFOTONGLI_MICROALIGNER {
    cpus = 30
    memory = { 80.GB * task.attempt }
  }

  withName: TO_SPATIALDATA {
    ext.args = "--feature_col 'Name'  --expansion_in_pixels 80 --save_label_img True --raw_image_channels_to_save [0,27] "
    memory = { 20.GB * task.attempt }
  }

  withName: BIOINFOTONGLI_TILEDSPOTIFLOW {
    memory = { 60.GB * task.attempt }
    containerOptions = "--gpus all"
    maxForks = 2
  }

  withName: BIOINFOTONGLI_CELLPOSE {
    memory = { 20.GB * task.attempt }
    containerOptions = "--gpus all"
    maxForks = 1
  }

  withName: POSTCODE {
    memory = { 20.GB * task.attempt }
    containerOptions = "--gpus all"
    ext.args = "--codebook_code_col Code --coding_col_prefix 'Readout_*'"
    publishDir = [
      "path": "output/postcode",
      "mode": "copy",
    ]
  }

  withName: MERGEPEAKS {
    memory = { 20.GB * task.attempt }
  }

  withLabel: large_mem {
    memory = { 80.GB * task.attempt }
  }

  withLabel: medium_mem {
    memory = { 20.GB * task.attempt }
  }
}
