process {
  errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
  maxRetries = 5
  memory = { 500.MB * task.attempt }
  //default memory for all processes

  withName: IMAGING_MICROALIGNER {
    cpus = 30
    memory = { 50.GB * task.attempt }
    publishDir = { params.out_dir } + "/registered_stacks/"
  }

  withName: TO_SPATIALDATA {
    ext.args = "--feature_col 'Name'  --expansion_in_pixels 80 --save_label_img True --raw_image_channels_to_save [0] "
    memory = { 20.GB * task.attempt }
  }

  withName: IMAGING_TILEDSPOTIFLOW {
    memory = { 60.GB * task.attempt }
    clusterOptions = '-gpu "mode=shared:j_exclusive=no:num=1:gmem=2048"'
  }

  withName: IMAGING_CELLPOSE {
    memory = { 20.GB * task.attempt }
    clusterOptions = '-gpu "mode=shared:j_exclusive=no:num=1:gmem=3072"'
  }

  withName: IMAGING_POSTCODE {
    memory = { 20.GB * task.attempt }
    ext.args = "--codebook_target_col Gene --codebook_code_col Code --coding_col_prefix 'Readout_*'"
    publishDir = [
      "path": { params.out_dir } + "/postcode",
      "mode": "copy",
    ]
  }

  withName: MERGEPEAKS {
    memory = { 20.GB * task.attempt }
  }

  withLabel: large_mem {
    memory = { 80.GB * task.attempt }
  }

  withLabel: medium_mem {
    memory = { 20.GB * task.attempt }
  }
}
